* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

body {
  background: linear-gradient(180deg, #f2f2ff, #ccccff);
}

img {
  height: auto;
  width: 500px;
}

.card {
  margin-top: 2rem;
  height: 300px;
  border: 1px solid black;
  text-align: left;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
}

a {
  font-size: 16px;
}
