* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

body {
  background: lemonchiffon;
}

img {
  height: auto;
  width: 300px;
}

.card {
  display: block;
  margin: auto;
  border-radius: 25px;
  width: min(70%, 500px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
}

#card-content {
  margin-top: 2rem;
  height: 300px;
  border: 1px solid black;
  text-align: left;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
}

a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}
